<div class="b-panel">
  <div class="b-panel__content b-panel__content--outline" >
  	<div class="b-claim">
	    <h1 class="b-claim__title">Do you run this league?</h1>
	    <p class="b-claim__text">Claim your league page to get your free Mitoo admin account.</p>
      <ul class="bullets">
        <li>Showcase your league to the 1.6 million players, parents and coaches in the Mitoo network</li>
        <li>Be notified when a new player wants to join your league</li>
        <li>Immediately update your league profile</li>
        <li>Get a free league space within the Mitoo mobile app</li>
      </ul>
	    <button class="full-width b-claim__button js-claimLeague" data-team-color="button" data-track-join="sidebar">Claim this league</button>
    </div>
  </div>
</div>