@import "faft_popup";

.unclaimed-faft-page {
  margin-bottom: 40px;
  position: relative;
  @import "faft_header";
  @import "faft_navigation";
  @import "faft_left_navigation";
  @import "faft_footer";
  @import "faft_sidebar";
  @import "faft_table";
  @import "faft_stats";
  @import "faft_breadcrump";
  @import "fixture_item";
  @import "fixture_single";
  @import "fixture_extended";

  
  .faft-right-sidebar-layout {
    margin-bottom: $bluefields-margin * 2;
  }

  .fixtures-group {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .feedback-text-link {
    margin-top: $bluefields-margin;
    padding: $bluefields-margin;
    border: 1px #ddd solid;
    margin-top: $bluefields-margin;
    border-radius: $bluefields-radius;
    margin-left: $bluefields-margin;
    color: #777;
    @include font-size(0.8);
    text-align: center;
  }
  .date-block {
    background: #ccc;
    color: $bluefields-black;
    padding-top: 9px;
    min-height: 52px;
    position: relative;
  }
  .fixture-faft-test:nth-child(even) {
    .date-block {
      @include opacity(0.9);
    }
  }
  .choose-your-division {
    padding: 0 $bluefields-margin * 2;
    h1 {
      @include font-size(2, false);
      text-transform: uppercase;
      font-weight: 600;
      margin-top: $bluefields-margin * 2;
      color: #444;
    }
    p {
      color: #888;
      margin-top: $bluefields-margin / 2;
      @include font-size(1);
    }
  }
  &.unclaimed-faft-team-page {
    .fixtures-list {
      border: 1px solid #eee;
      border-left: none;
    }
  }
  &.unclaimed-faft-club-page {
    .content-navigation {
      ul {
        li {
          a {
            @include respond-to(handhelds) {
              width: 49% !important;
            }
          }
        }
      }
    }
  }
  &.unclaimed-faft-division-page {
    .content-navigation {
      ul {
        li {
          a {
            @include respond-to(handhelds) {
              width: 32% !important;
            }
          }
        }
      }
    }
  }
  .fixtures-container {
    border: 1px solid #eee;
  }
  div[role="complementary"] {
    padding-left: 6px;
    .follow-team-form-container {
      margin-top: 12px;
    }
  }

  div.content {
    @include respond-to(wide-screens) {@include flex();}
    @include respond-to(medium-screens) {@include flex();}
  }


  // Main content
  div[role="main"] {
    background: $bluefields-white;
    @include box-shadow(12px 0 12px -7px rgba(0, 0, 0, 0.05), -12px 0 12px -7px rgba(0, 0, 0, 0.05));
    z-index: 10;
    margin-bottom: 35px;
    .main-content {
      
      padding: $bluefields-margin * 3.5;
      .team {
        margin-bottom: $bluefields-margin * 5.5;
      }

      @include respond-to(medium-screens) {
        padding: $bluefields-margin * 2.5;
        .team {
          margin-bottom: $bluefields-margin * 4.5;
        }
      }

      @include respond-to(handhelds) {
        padding: $bluefields-margin * 1.5;
        .team {
          margin-bottom: $bluefields-margin * 3.5;
        }
      }

      .tab-content:last-child {
        .team {
          margin-bottom: 0 !important;
        }
      }
    }
    .tab-content {
      .team {
        >h1 {
          text-transform: uppercase;
          color: #666;
          @include font-size(1, false);
          margin-bottom: $bluefields-margin;
          text-align: center;
        }
        .copy {
          color: #797979;
          font-size: 12px;
          padding-top: 6px;
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }


        &.officers-list .users-list .user-row:hover {
          background: none;
        }

        &.officers-list .users-list {
          padding-left: 24px;
          padding-right: 24px;
        }

        &.league-details {
          table {
            background: none;
            tr, td {
              background: none;
            }
            td{ border: 1px solid #eee;}
          }
        }
      }
    }
  }
  .empty {
    i {
      @include font-size(2);
      display: block;
      text-align: center;
      color: #aaa;
      margin-top: $bluefields-margin * 2;
    }
    p {
      text-align: center;
      color: #bbb;
    }
  }
}

.faft-footer-mobile {
  position: fixed;
  z-index: 20;
  bottom: 0;
  background: #eee;
  padding: 6px;
  border-top: 1px #ddd solid;
  img {
    max-width: 30px;
    max-height: 30px;
  }
  &.hide-from-user {
    bottom: -100px;
  }
  @include transition(bottom $transition-time $transition-easing);
  .left-img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
  }
  p {
    @include font-size(0.8);
    color: #999;
  }
  h5 {
    @include font-size(1, false);
    font-weight: 600;
    color: #666;
  }
  .follow-form, .download-app {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .footer-information {
    padding-left: 3px;
    padding-top: 4px;
    @include calc(max-width, "100% - 110px");
  }
  img, .footer-information, button {
    display: inline-block;
    vertical-align: middle;
  }
}

.faft-onboarding {
  padding-top: $bluefields-margin * 2;
  padding-bottom: $bluefields-margin * 2;
  h1, h2, h3 {
    text-transform: uppercase;
  }
  h1 {
    font-weight: 600;
    @include font-size(2, false);
  }
  h2 {
    font-weight: 400;
    @include font-size(1.6, false);
  }
  h3 {
    font-weight: 400;
    @include font-size(1.4, false);
  }
  p {
    @include font-size(1);
    font-weight: 200;
  }
  ul {
    margin-top: $bluefields-margin * 2;
    li {
      padding: 0 $bluefields-margin;
    }
  }
  img {
    margin-bottom: $bluefields-margin * 2;
  }
  .got-it-button {
    margin-top: $bluefields-margin * 2;
  }
}

.paywall {
  .open-close-onboarding.animate {
    -ms-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }
}

.registration-text {
  button[name="register-team"] {
    margin-top: 12px;
  }
}


.open-close-onboarding {
  position: absolute;
  color: $bluefields-white;
  top: -14px;
  right: 12px;
  background: #4fade3;
  padding: 25px 15px 6px 13px;
  border-radius: $bluefields-radius;
  font-family: geogrotesque;
  font-weight: 600;
  @include font-size(1, false);
  text-transform: uppercase;
  cursor: pointer;
  z-index: 40;
  @include respond-to(handhelds) {
    display: none;
  }

  &.animate {
    @include animation(fadeIn $transition-time * 3 infinite $transition-easing);
  }
  i {
    vertical-align: top;
    margin-right: 6px;
    line-height: 12px;
  }
}

@include keyframes(fadeIn) {
  0% {
    @include transform(translateY(3px));
  }
  50% {
    @include transform(translateY(0px));
  }
  100% {
    @include transform(translateY(3px));
  }
}