.fixture-faft-test {
  background-color: #fbfbfb;
  &:nth-child(odd) {
    background: #f1f1f1;
  }
  position: relative;
  &:first-child {
    .date-block {
      margin-top: -1px;
    }
  }
  &:last-child {
    .date-block {
      margin-bottom: -1px;
    }
  }
  .date-block {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .fixture-information {
    display: inline-block;
    vertical-align: middle;
    padding: $bluefields-margin / 2 $bluefields-margin * 0.75;
    h5 {
      @include helvetica;
      @include font-size(1);
      color: #666;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .details {
      @include font-size(0.8);
      color: #999;
      font-weight: 300;
      span {
        color: #777;
      }
      .time {
        text-transform: lowercase;
      }
      .home-away {
        text-transform: capitalize;
      }
    }
  }
  .fixture-information {
    width: 50%;
    margin-left: 40px;
    @include calc(width, "100% - 175px");
    @include respond-to(handhelds) {
      @include calc(width, "100% - 98px");
    }
  }
  @include respond-to(handhelds) {
    .result-container {
      position: absolute;
      right: 0;
      top: 5px;
      text-align: right;
      padding-right: $bluefields-margin / 2;
      span {
        display: block;
      }
    }
    .outcome {
      @include font-size(0.7, false);
    }
    .result {
      @include font-size(1, false);
    }
  }

  .result-container {
    display: inline-block;
    vertical-align: middle;
    width: 127px;
    text-align: right;
    padding-right: 6px;
    white-space: nowrap;
  }
  .outcome {
    &.won {
      color: $bluefields-green;
    }
    &.lost {
      color: $bluefields-red;
    }
    &.draw {
      color: $bluefields-orange;
    }
  }
  .result {
    color: #444;
  }
  .result {
    font-weight: bold;
  }
}