<div class="page-title">	
	<div class="row">
		<div class="col-md-8 col-sm-6">
			<h3>Game Analysis</h3>
		</div>
	</div>
</div>

<div id="container">

	<div class="row spacing-bottom col-2">	
		<div class="col-md-12 col-sm-12 spacing-bottom-sm">	
			<div class="grid simple"> 
				<div class="grid-title no-border">
					<h4>Games</h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<div class="row-fluid">
						<div id="chart-count"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
$(function() {

	chartData = {
		gameCountChart: <%==@data.to_json%>
	};

	window.gameCountChart = new Morris.Line({
	  element: 'chart-count',
	  data: chartData.gameCountChart,
	  xkey: 'day',
	  ykeys: ['total', 'faft', 'leagues'],
	  labels: ['Total', 'FAFT', 'League']
	});

});

</script>