<div class="row">
<div class="columns twelve">
	<h3>Facebook Sandbox</h3>
	
	<% if(@is_connected)%>
		
		<%= link_to "Show Friends who like sports", 'facebook/friendslikes' %>
		
	<% else %>
		<%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
	<% end %>
</end>
</end>
