<%if(isParent && childrens.length!==0){%>
	<p>To remove this user, remove his children from the team.</p>
<%}else{%>
	<a href="#" class="remove-player error" title="delete player">Remove from team <i class="bf-icon x"></i></a>
<%}%>