<h3>Team Permissions</h3>
<div class="twelve columns">
<!-- 	<label class="toggle android header-toggle" onclick="">
		<input class="organiser-toggle" type="checkbox" <% if (isOrganiser){ %>checked<% } %>>
		<p>Team admin
			<span>Yes</span>
			<span>No</span>
		</p>
		<a class="slide-button"></a>
	</label> -->

	<label class="switch-light switch-candy" onclick="" >
		<input type="checkbox" class="organiser-toggle" <% if (!isOrganiser){ %>checked<% } %>>
		<span>
			Team admin
			<span>Yes</span>
			<span>No</span>
		</span>

		<a></a>
	</label>
</div>
