<h5>Finish!</h5>
<p>You know all our secret now, go explore and use our product little bithc</p>
<button type="button" class="bf-colour small exit">Explore Mitoo</button>
<i class="bf-icon x exit"></i>