<h5>Tour guildé</h5>
<p>This is how an even tpage look in mitoo, would you like to take a tour?</p>
<button type="button" class="bf-colour next">Take le tour guidée</button>
<i class="bf-icon x exit"></i>