<h4 class="hide event-activity-title">Next event</h4>
<div class="future"></div>

<h4 class="hide event-activity-title">Previous event</h4>
<div class="past"></div>

<a href="#schedule" class="link-black no-underline right" ><i class="bf-icon calendar"></i> <span class="underline-hover">View schedule</span></a>
