<div class="card-container <% if(columns=="2") { %>eight columns<% } %>">
  <div id="r-card"></div>
  <div id="r-content"></div>
</div>
<% if(columns=="2") { %>
<div class="form-container four columns">
  <div class="eleven columns centered" id="r-form"></div>
</div>
<% } %>
