<h2>Join the Team</h2>
<p><%= ActiveApp.CurrentUser.get("name") %>, you're invited to join <b><%= who %></b>. Click the button below to join.</p>
<button name="join-team"class="full-width orange" >Join <%= who %></button>