<div class="squad-player-container <% if(newItem){%>active new<% }%>" data-id="<%= id %>">
	<div class="squad-player-picture-container" style="background-image:url('<%= profile_pic %>');"></div>
	<div class="squad-player-informations">
		<h4 class="squad-player-name"></h4>
	</div>
	<div class="click-for-info">
		<p><i class="bf-icon plus"></i>Click for information</p>
	</div>
</div>