<div id="r-squad-navigation" class="three columns no-gutter"></div>
<div id="r-squad-content" class="ten columns no-gutter">
	<div id="r-squad-controls"></div>
	<div id="r-squad-notice"></div>
	<div id="r-squad-list"></div>
</div>