
<ul class="squad-list new hide">
	<!-- <h4>New Player</h4> -->
</ul>

<ul class="squad-list organiser hide">
	<!-- <h4>Team admin</h4> -->
</ul>

<ul class="squad-list registered hide">
	<!-- <h4>Registered</h4> -->
</ul>

<ul class="squad-list unregistered hide">
	<!-- <h4>Unregistered</h4> -->
</ul>

<div class="empty hide">
	<!-- <h4>Unregistered</h4> -->
</div>