<div class="<%= (disable) ? 'white-out' : '' %>">
	<h2>Add Your Players Now</h2>
	<p>Add email addresses and/or mobile numbers for your team members.</p>
	<div class="eight columns centered">
	  <button type="button" <%= (disable) ? 'disabled' : '' %> class="add-player button small full-width"><i class="bf-icon plus"></i> Add player</button> 
	</div>
</div>
