<div class="state-one demo-players">
  <h2>Try Mitoo with Demo Players</h2>
  <p>Want to see how Mitoo works before adding your real team members? Add some demo players</p>
  <div class="eight columns centered">
    <button type="button" class="add-demo-players button small full-width" data-disabled="Adding"><i class="bf-icon plus"></i> Add demo players</button> 
  </div>
</div>

<div class="state-two demo-players">
  <h2>Remove Demo Players</h2>
  <div class="eight columns centered">
    <button type="button" class="remove-demo-players button small full-width" data-disabled="Removing"><i class="bf-icon plus"></i> Remove demo players</button> 
  </div>
</div>
