<div class="event-list this-week clearfix hide">
	<h4>This Week</h4>
</div>


<div class="event-list next-week clearfix hide">
	<h4>Next Week</h4>
</div>


<div class="event-list upcoming clearfix hide">
	<h4>Upcoming</h4>
</div>

<div class="empty">
</div>