<a class="link-black export-link no-underline"><i class="bf-icon calendar"></i> <span class="underline-hover">Subscribe with iCalendar</span></a>
<p>Get all events in your team's schedule in your calendar</p>
