<div class="twelve columns">
	<div class="eight columns centered mobile-four box-classic">
		<p class="text-center">You have made some changes to the schedule</p>
		<div class="ten columns centered clearfix">
			<div class="six columns">
				<button type="button" class="close-popover medium grey full-width">Back</button>
			</div>
			<div class="six columns">
				<button type="button" class="send-schedule medium full-width">
					<span>Send schedule</span><div class="spinner hide"></div>
				</button>
			</div>
		</div>
		<a href="#" class="close-popover"><i class="bf-icon x"></i></a>
	</div>
</div>
