<div id="r-schedule-controls"></div>

<div id="r-schedule-new-event-preview"></div>
<div id="r-schedule-event-list"></div>

<div id="r-schedule-export-calendar" class="clearfix"></div>
<div id="r-schedule-popover"></div> 