<p>
	Email a schedule of upcoming games to your team. 
	<button type="button" class="tiny grey right" id="btn-send-event-schedule">Email Schedule</button>
	<div class="spinner right hide"></div>
</p>


