<div id="signup-flow" class="clearfix row">
	<div id="r-module">Loading...</div>
</div>

<p class="row credit">
	<span class="five columns mobile-one">COPYRIGHT - 2013</span>
	<span class="two columns mobile-two logo"><a href="/"></a></span>
	<span class="five columns mobile-one">MADE IN THE USA & UK</span>
</p>


<script>
<% if !@invite.nil? && @invite.invite_accepted_at.nil? %>
	window.invitedUser = $.parseJSON('<%=@invite.to_json.html_safe %>');
<% end %>

	$(function(){
		SFApp.start();
	});
</script>

<!-- Google Code for Landed on Sign Up Page Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 965752606;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "moJ_CMqe6gMQnu7AzAM";
var google_conversion_value = 0;
/* ]]> */
</script>

<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js"></script>

<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/965752606/?value=0&amp;label=moJ_CMqe6gMQnu7AzAM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>