
<h2><%= @user.first_name.titleize %> is no longer an organizer</h2>

<p><%= @user.name %> has been removed as an organizer on Mitoo.</p>

<a class="button" href="<%= team_url(@team, :only_path => false )%>">View your team on Mitoo</a>