<div id="r-team-list"></div>

<% if (createTeam) { %>
  <div id="r-team-tenant"></div>
  <div id="r-team-form" class="create-team-form"></div>

  <div class="actions clearfix">
  	<button type="button" name="add" class='small grey show-form'>Add team</button>
  </div>
<% } %>