<% if (showSearch) { %>
	<form class="schedule-navigation clearfix classic">
		<div class="row view-mode">
			<div class="columns five">
				<input name="search" type="text" class="schedule-search" placeholder="Search for a fixture"/>
				<a href="#" class="hide schedule-search-close"><i class="bf-icon x"></i></a>
			</div>
		</div>
	</form>
<% } %>
