<div id="r-schedule-standings"></div>
<div id="r-schedule-notice"></div>
<div id="r-schedule-controls"></div>
<div id="r-schedule-preview" class="fixtures-list edit-mode"></div>
<div id="r-schedule-fixture-list"></div>