<br /><br /><!-- 
<div class="row">
	<div class="four columns">
		<a href="#" class="button small">.button.small</a><br /><br />
		<a href="#" class="button medium">.button.medium</a><br /><br />
		<a href="#" class="button large">.button.large</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small radius">.button.small.radius</a><br /><br />
		<a href="#" class="button medium radius">.button.medium.radius</a><br /><br />
		<a href="#" class="button large radius">.button.large.radius</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small round">.button.small.round</a><br /><br />
		<a href="#" class="button medium round">.button.medium.round</a><br /><br />
		<a href="#" class="button large round">.button.large.round</a>
	</div>
</div><br /><br /> --><!-- 
<div class="row test-1">
	<div class="four columns">
		<a href="#" class="button small">.button.small</a><br /><br />
		<a href="#" class="button medium">.button.medium</a><br /><br />
		<a href="#" class="button large">.button.large</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small radius">.button.small.radius</a><br /><br />
		<a href="#" class="button medium radius">.button.medium.radius</a><br /><br />
		<a href="#" class="button large radius">.button.large.radius</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small round">.button.small.round</a><br /><br />
		<a href="#" class="button medium round">.button.medium.round</a><br /><br />
		<a href="#" class="button large round">.button.large.round</a>
	</div>
</div><br /><br />

<div class="row test-1">
	<div class="four columns">
		<a href="#" class="button small white">.button.small.white</a><br /><br />
		<a href="#" class="button medium white">.button.medium.white</a><br /><br />
		<a href="#" class="button large white">.button.large.white</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small radius white">.button.small.radius.white</a><br /><br />
		<a href="#" class="button medium radius white">.button.medium.radius.white</a><br /><br />
		<a href="#" class="button large radius white">.button.large.radius.white</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small round white">.button.small.round.white</a><br /><br />
		<a href="#" class="button medium round white">.button.medium.round.white</a><br /><br />
		<a href="#" class="button large round white">.button.large.round.white</a>
	</div>
</div><br /><br /> -->

<div class="row test-2">
	<div class="four columns">
		<a href="#" class="button small">.button.small</a><br /><br />
		<a href="#" class="button medium">.button.medium</a><br /><br />
		<a href="#" class="button large">.button.large</a>
	</div>
	<div class="four columns">
		<a href="#" class="button small radius">.button.small.radius</a><br /><br />
		<a href="#" class="button medium radius">.button.medium.radius</a><br /><br />
		<a href="#" class="button large radius"><i class="iconic chat_alt_fill"></i>.button.large.radius</a>
	</div>
	<div class="four columns">
		<a href="#" class="button tiny round "><i class="iconic wrench"></i> edit</a><br /><br />
		<a href="#" class="button small round">.button.small.round</a><br /><br />
		<a href="#" class="button medium round">.button.medium.round</a><br /><br />
		<a href="#" class="button large round"><i class="iconic chat_alt_fill"></i>.button.large.round</a>
	</div>
</div><br /><br />

<div class="row test-2">
	<div class="four columns">
		<a href="#" class="button tiny white"><i class="iconic check"></i> edit</a><br /><br />
		<a href="#" class="button small white"><i class="iconic check"></i> .button.small.white</a><br /><br />
		<a href="#" class="button medium white">.button.medium.white</a><br /><br />
		<a href="#" class="button large white">.button.large.white</a>
	</div>
	<div class="four columns">
		<a href="#" class="button tiny radius white"><i class="iconic check"></i> edit</a><br /><br />
		<a href="#" class="button small radius white">.button.small.radius.white</a><br /><br />
		<a href="#" class="button medium radius white">.button.medium.radius.white</a><br /><br />
		<a href="#" class="button large radius white"><i class="iconic aperture_alt"></i>.button.large.radius.white</a>
	</div>
	<div class="four columns">
		<a href="#" class="button large icon round white"><i class="iconic wrench"></i></a>&nbsp;&nbsp;
		<a href="#" class="button large icon round white"><i class="iconic cog"></i></a>&nbsp;&nbsp;
		<a href="#" class="button large icon round white"><i class="iconic award_fill"></i></a>&nbsp;&nbsp;
		<a href="#" class="button large icon round white"><i class="iconic curved_arrow"></i></a><br /><br />
		<a href="#" class="button tiny round white"><i class="iconic curved_arrow"></i> send manual</a><br /><br />
		<a href="#" class="button tiny round white"><i class="iconic wrench"></i> edit</a><br /><br />
		<a href="#" class="button small round white">.button.small.round.white</a><br /><br />
		<a href="#" class="button medium round white">.button.medium.round.white</a><br /><br />
		<a href="#" class="button large round white"><i class="iconic aperture_alt"></i>.button.large.round.white</a><br /><br />
		<a href="#" class="button medium round">Invite More</a><br /><br />
		<a href="#" class="button medium round"><i class="iconic bolt	"></i>YES</a>
		<a href="#" class="button medium round white"><i class="iconic x"></i>NO</a>
	</div>
</div><br /><br />
