<h1>Welcome to O2 Touch</h1>
<p>You have now joined <%= entity %>, make sure you have fun! <br/>Here is what you can do next:</p>
<div class="four text-center columns onboarding-point">
	<i class="bf-icon chat"></i>
	<h4>Join the conversation and ask any questions</h4>
	<p>Easily add messages to the event page</p>
</div>
<div class="four text-center columns onboarding-point">
	<i class="bf-icon badge"></i>
	<h4>Go to the team page to join other events</h4>
	<p>Check out the team page to see other upcoming games and events</p>
</div>
<div class="four text-center columns onboarding-point">
	<i class="bf-icon calendar-alt"></i>
	<h4>Receive emails about upcoming events</h4>
	<p>We will let you know about <%= teamName %>'s upcoming games via email</p>
</div>

<button type="button" name="done" class="centered" data-disabled="Loading">Let's do it</button>