<div class="popup-branding-container"></div>
<div id="er-location-group"></div>
<div id="er-event-row"></div>

<form class="er-signup">
	<div class="manual-signup">
		<div class="input-with-button">
			<div class="input-container">
				<input name="email" type="email" placeholder="Email">
			</div>
			<button type="submit" name="signup" class="follow-team large">Continue</button>
		</div>
	</div>
</form>

<a href="#" name="cancel">Cancel</a>

<div id="er-login">
	Already have an account? <a href="#" name="login">Login</a>
</div>