<img src="<%= pic %>" class="circle thumb-pic">
<div class="notification-content">
  <p>We are delighted to announce that Bluefields &amp; Mitoo are now one.</p>
  <a target="_blank" href="http://more.mitoo.co/news/bluefields-mitoo/">Read more about the exciting news...</a>
</div>
<div class="close"><i class="bf-icon x"></i></div>
