<h2>Subscribe to your team's calendar</h2>


<p><strong>Export to iCal or Outlook</strong><br/>Click the link below to export to iCalendar supported applications.</p>
<a href="webcal://<%=data.url%>" class="button small" data-team-color="button">Export for Apple Calendar/iCal</a>
	

<p><strong>Google Calendar</strong><br/>Copy the link below, and use it to subscribe in Google Calendar.</p>
<input type="text" class="url" value="http://<%=data.url%>" />
<a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100" target="_blank" class="show-instruction ">Show me how to subscribe with Google Calendar</a>

<a href="#" class="bf-icon x" title="Close popup"></a>