<h2><i class="bf-icon check"></i></h2>
<div class="popup-header">
  <h2>You're now following '<%= teamName %>' on Mitoo!</h2>
</div>
<p>As a follower you'll receive updates about <%= teamName %> as they happen:</p>
<ul>
  <li>When details about a game change</li>
  <li>When a game gets cancelled, postponed</li>
  <li>Receive the latest scores to your inbox</li>
</ul>