<div class="why-follow">
  <strong><%= copy.whyTitle %></strong>
  <p><%= copy.whyDescription %></p>
</div>

<div class="top-text">
  <h1><%= copy.topTitle %></h1>
  <p class="hide fb-dropoff-text"><%= copy.topDescription %></p>
</div>
<div id="form-region" class="clearfix"></div>
<small>By continuing you agree that you have read and accept our <a class="subtle-link" target="_blank" href="/terms">Terms &amp; Conditions</a>.</small>


<div class="sub-navi">
  <ul>
    <li><a class="login">Login</a></li>
    <li><a class="search" href="/search">Wrong team? Search for yours</a></li>
    <li><a class="exit-popup">Close &amp; See Team Profile</a></li>
  </ul>
</div>