<h1>Thanks for following</h1>
<p class="text-center copy">We've given you a temporary password: <span class="password"><%= password %></span>, which we'll also email to you, or you can set one yourself below.</p>

<div class="nine columns center">
  <form name="change-password">
    <input class="center ten columns mobile-ten" type="password" name="password" placeholder="Password">
    <div class="seven columns center password-actions">
      <button type="submit" name="save">Save password</button>
    </div>
  </form>
</div>

<a class="exit-popup skip">Skip</a>