<h2>Help</h2>
<p>See FAQs, support articles or submit a support request.</p>  
<div class="row">
  <div class="four columns first"><a href="<%= supportUrl %>" target="_blank" class="button blue full-width">Support center</a></div>
  <div class="four columns"><a href="#" name="chat" class="button blue full-width">Online chat</a></div>
  <div class="four columns last"><a href="<%= feedbackUrl %>" target="_blank" class="button blue full-width">Feedback</a></div>
</div>