<h2><i class="bf-icon check"></i></h2>
<div class="popup-header">
  <h2>You're now a member of '<%= teamName %>' on Mitoo!</h2>
</div>
<p>You now have one place to go for all of your team information. You will also:</p>
<ul>
  <li>Receive updates to your team's schedule via email</li>
  <li>Be able to indicate your availability for events</li>
  <li>Message your team admin and other players</li>
  <li>do lots more...</li>
</ul>
<button class='button confirmation' data-disabled="Redirecting">Explore <%= teamName %> on Mitoo</button>