<div class="fb-face-block">
  <p>Mitoo works better with your <strong>friends onboard</strong>. Let's find friends who might like to follow a team on Mitoo.</p>
</div>
<p class="text-right">
  <a href="#" class="skip link-grey">Not now</a>
  <button type="button" class="facebook radius" name="facebook">Continue</button>
</p>