<div class="row" id="popup-content">
  <div class="popup columns centered <%= popupClass%>">
    <div class="popup-content"></div>
    <% if (showCloseButton) { %>
      <a href="#" class="bf-icon x close b-popup__close-icon" name="x" title="Close popup"></a>
    <% } %>
  </div>
</div>
<div class="grey-overlay"></div>