<form class="twelve columns no-gutter invite-player-row">
  <div class="five columns">
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="five columns">
    <input type="email" name="email" placeholder="Email">
  </div>
  <div class="two columns">
    <button class="full-width orange small" type="submit">Invite</button>
  </div>
</form>