<h3>Join the 1,000s of Leagues on the Mitoo network</h3>

<div class="main-popup-content">
  <div class="marketing-copy hide-for-small">
    <img src="<%= trophyImgPath %>">
    <p>Claim this league and start adding to your league profile straight away.</p>
  </div>

  <div class="follow-form-region">
  	<div id="cl-form"></div>
  </div>
</div>

<p class="text-confirmation text-center hide">Thanks, we will be in touch shortly to confirm your details!</p>