<h2 class="b-popup__title">You must be a League Admin to update this league page</h2>
<p class="b-popup__text">Please enter your email below</p>
<p class="b-popup__text text-confirmation hide">Thanks, we will be in touch shortly to confirm your details!</p>
<form>
  <input name="email" placeholder="joe@example.com" type="email">
  <button type="submit">Send</button>
</form>
