<h3>Results</h3>
<div class="result_card">
  <div class="home_team" style="background:#4FADE3;border-bottom:5px solid #2ABD7A">
    <img class="circle" src="/assets/profile_pic/team/generic_team_medium.png" alt="Real Santa Monica Lions">
    <input name="" type="text">
  </div>
  
  <div class="away_team" style="background:#FAB800;border-bottom:5px solid #E0652D">
    <input name="" type="text">
    <img class="circle" src="/assets/profile_pic/team/generic_team_medium.png" alt="Real Santa Monica Lions">
  </div>
</div>

<div class="inline-input text-right">
  <a href="#" class="cancel-link" name="cancel-edit">Cancel</a>
  <button class="save-button small" name="save-button">save</button>
</div>
