<i class="bf-icon pen"></i>

<h2>Finished editing?</h2>
<p>Edit games or add new games to the schedule. When you are finished, hit 'Publish changes'.</p>

<div class="six columns centered">
	<button type="button" name="add" class="button radius small full-width">
    <i class="bf-icon plus"></i> Add a game
  </button>	
</div>