<header>
  <h3><i class="panel-icon bf-icon trophy"></i> Results</h3>
</header>
<div class="panel-content edit-onboarding">
  <i class="bf-icon trophy"></i>
  <h2>Results &amp; Standings</h2>
  <p>Enter results and points to update the standings for this division</p>
</div>

