<h2>You are now following <%=@team.name%>!</h2>

<ul>
  <li><strong>Keep on top of the league table</strong> <br />
    The results &amp; scores which matter in your hand.
  </li>

  <li><strong>Always know when &amp; where the next games are</strong> <br />
    Upcoming game information sent to you.
  </li>

  <li><strong>Know every game change as soon as it happens</strong> <br />
    Game cancelled or postponed? You'll know right away.
  </li>

  <li><strong>Simple, Easy, Mobile</strong> <br />
    Available on the Web, iPhone and Android.
  </li>
</ul>

<br/>
<p>Yours in sport,<br />
The Mitoo Team</p>
