<header class="header"></header>
<div class="body">
  <aside role="complementary">
    <div id="r-user-profile"></div>
    <div id="r-children-panel"></div>
    <div id="r-team-panel"></div>
    <div id="r-friend-panel"></div>
  </aside>
  <div role="main">
    <nav class="content-navi-container"></nav>
    <div class="primary-content"></div>
  </div>
</div>