<div class="container">
	<div class="row unsubscribed-content">
		<div class="columns five center">
			<h1>
				<img src="<%= asset_path 'identity/logo/logo_black_200.png' %>" />
			</h1>
			<h2>You need to be logged in</h2>
			<p><a href="/login">login here</a></p>
		</div>
	</div>
</div>