<div class="container">
	<div class="row unsubscribed-content">
		<div class="columns five center">
			<h1>
				<img src="<%= asset_path 'identity/logo/logo_black_200.png' %>" />
			</h1>
			<h2>You've been unsubscribed</h2>
			<p>Sorry to see you go. You won't receive any more email from us. If you change your mind <a href="mailto:help@mitoo.co">let us know</a>.</p>
		</div>
	</div>
</div>