<h2>Team Roles</h2>
<p >Changing your team roles may remove certain features from your account and affect the notifications you receive from your teams. Please take some time to read our <a href="http://help.mitoo.co/customer/portal/articles/1375601-changing-your-team-roles">help article</a> for more details.</p>

<ul class="team-role-list-container">
<li class="team-role-row legend">
	<span class="team-name">Team</span>
	<span class="team-role">Role</span>
	<span class="team-action">Action</span>
</li>

</ul>


<div class="inline-input text-right">
  <a href="#" class="link-cancel">Cancel</a>
  <button type="submit" class="small" title="save" data-disabled="Saving">Save</button>
</div>