<h2><%=title%> <button class="add-new-user grey small right <%= (showAddNew) ? '' : 'hide' %>">Add New</button></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody></tbody>

</table>