<button type="button" class="small right" name="edit-schedule">
  <i class="bf-icon pen"></i> Edit schedule
</button>

<% if (hasUnpublishedEdits) { %>
  <span class="unpublished">
    <i class="bf-icon info"></i>You have unpublished edits
  </span>
<% } %>