<button type="button" name="publish" class="small success right">
  <i class="bf-icon check"></i> Publish changes
</button>
<button type="button" name="discard" class="small alert right">
  <i class="bf-icon x"></i> Discard changes
</button>
<a name="back" href="#">Save changes but don't publish</a>