<p class="watermark text-right">
	<a href="http://more.mitoo.co/leagues-clubs-and-sports-facilities/" >
  	<small>Powered by</small><br/>
    <img class="mitoo-logo-watermark" src="<%= asset_path 'identity/logo/logo_dark_grey_200.png' %>" width="90"/> 
   </a>
</p>