<div class="module b-location">
  
  <div class="b-location__container" >
    <div class="b-location__container__map" id="map-canvas"></div>
  </div>

  <div class="b-location__info-block">
    <h4 class="b-location__info-block__title"><%= title %></h4>
    <p class="b-location__info-block__address">
      <a class="b-location__info-block__address__link" target="_blank" href="http://maps.google.com/?q=<%= address %>">
        <%= address %>
      </a>
    </p>
  </div>
</div>