<div class="information-item">
	<p><strong>Title</strong></p>
	<p><%= title %></p>
</div>

<div class="information-item">
	<p><strong>Time &amp; Date</strong></p>
	<p><%= date %></p>
</div>

<% if (locationTitle) { %>
	<div class="information-item">
		<p><strong>Location</strong></p>
		<p><a class="no-underline" target="_blank" href="http://maps.google.com/?q=<%= locationQueryString %>"><%= locationTitle %></a></p>
	</div>
<% } %>

