<header class="header">
  <div id="team-profile" class="row header-content"></div>
</header>

<div class="body">
	<div role="main" class="new-main-content">
		<nav class="content-navi-container"></nav>
		<div id="r-team-content"></div>
	</div>
	<aside role="complementary" class="new-right-sidebar">
		<div id="r-squad-information"></div>
		<div id="r-download-app"></div>
		<div id="r-edit-schedule-help"></div>
		<div id="r-goals"></div>
		<div id="r-sidebar-notice"></div>
		<div id="r-next-game"></div>
		<div id="r-team-mates"></div>
		<div id="r-tenant-specific"></div>
	</aside>
</div>