<h2>You are now following <%=@team.name%>!</h2>

<p>Gone are the days of scrolling around a website made for the big screen on your mobile. No more searching through emails threads for game information. Say goodbye to hitting refreshing a to see table updates. Mitoo talks the information you want, about the teams you follow or play for, and puts it in your hand or inbox.</p>

<% unless @tmp_password.nil? %>
<p>Use your temporary password <b><%=@tmp_password%></b> to login</p>
<% end %>

<ul>
  <li><strong>Keep on top of the league table</strong> <br />
    The results &amp; scores which matter in your hand.
  </li>

  <li><strong>Always know when &amp; where the next games are</strong> <br />
    Upcoming game information sent to you.
  </li>

  <li><strong>Know every game change as soon as it happens</strong> <br />
    Game cancelled or postponed? You'll know right away.
  </li>

  <li><strong>Simple, Easy, Mobile</strong> <br />
    Available on the Web, iPhone and Android.
  </li>
</ul>

<br/>
<p>Yours in sport,<br />
The Mitoo Team</p>
