<div class="text-center join-text-help">
	<div class="pending-message">
		<h1>Waiting to be Accepted</h1>
		<p>You'll receive confirmation soon from your league. Meanwhile, you can manage your team and add games.</p>
		<button type="button" name="confirm">Got it</button>
	</div>
</div>