<div class="row">
	<div class="six columns">
		<ul>
			<li>Email List</li>
			<li><a href="/admin/email/schedule">schedule email</a></li>
			<li><a href="/admin/email/bluefields-invite">bluefields invite</a></li>
			<!--<li><a href="/admin/email/invite">invite</a></li>-->
			<li><a href="/admin/email/beta-invite">beta invite</a></li>
			<li><a href="/admin/email/new-user-invited">new user invited</a></li>
			<li><a href="/admin/email/new-junior-invited">new Junior invited</a></li>
			<!--<li><a href="/admin/email/response-notification">invite response notification</a></li>-->
			<li><a href="/admin/email/registration-confirmation">registration confirmation email</a></li>
			<!--<li><a href="/admin/email/team-invite-accepted">team invite accepted</a></li>-->
			<li><a href="/admin/email/event-reminder">event reminder (Not Responded)</a></li>
			<li><a href="/admin/email/event-reminder-available">event reminder (Available)</a></li>
			<li><a href="/admin/email/event-details-updated">event details updated</a></li>
			<li><a href="/admin/email/event-cancelled">event cancelled</a></li>
			<li><a href="/admin/email/event-schedule-update">event schedule update</a></li>
			<li><a href="/admin/email/event-schedule-update-single">event schedule update (single)</a></li>
			<li><a href="/admin/email/invite-reminder">invite reminder</a></li>
			<li><a href="/admin/email/parent-event-schedule">parent event schedule</a></li>
			<li><a href="/admin/email/parent-event-schedule-update">parent schedule update</a></li>
			<li><a href="/admin/email/parent-event-reminder">parent event reminder</a></li>
			<li><a href="/admin/email/parent-event-details-updated">parent event updated</a></li>
			<li><a href="/admin/email/parent-invite-reminder">parent invite reminder</a></li>
			<li><a href="/admin/email/contact-form">contact form</a></li>
			<li><a href="/admin/email/comment-posted">comment posted</a></li>
			<li><a href="/admin/email/team-organiser-notification-user-removed-from-team">team organiser notification - user removed from team</a></li>
			<li><a href="/admin/email/team-organiser-notification-organiser-role-granted-to-user">team organiser notification - organiser role granted</a></li>
			<li><a href="/admin/email/team-organiser-notification-organiser-role-revoked-from-user">team organiser notification - organiser role revoked</a></li>
			<!--<li><a href="/admin/email/team-organiser-notification-new-user-invited-to-team">team organiser notification - user invited</a></li>-->
			<li><a href="/admin/email/user-removed-from-team">user removed from team</a></li>
			<li><a href="/admin/email/organiser-role-granted-to-user">organiser role granted to user</a></li>
			<li><a href="/admin/email/organiser-role-revoked-from-user">organiser role revoked from user</a></li>
			<li><a href="/admin/email/parent-event-activated">parent event activated</a></li>
			<li><a href="/admin/email/event-activated">event activated</a></li>
			<li><a href="/admin/email/parent-event-cancelled">parent event cancelled</a></li>

			<li><a href="/admin/email/team_message_posted">team message posted</a></li>

			<li><a href="/admin/email/league/user_invited_to_team">league user invited to team</a></li>
			<li><a href="/admin/email/league/organiser_role_granted_to_user">league organiser role granted to user</a></li>
			<li><a href="/admin/email/league/event_schedule">league event schedule</a></li>
			<li><a href="/admin/email/comment-from-email-failure">comment from email failure</a></li>

			<li><a href="/admin/email/result-created">result created</a></li>
			<li><a href="/admin/email/division-result-created">division result created</a></li>
		</ul>
	</div>
</div>
