<div id="schedule-empty"></div>
<div id="schedule-event-form"></div>
<div id="schedule-loading"></div>
<div class="schedule-date" id="schedule-this-week"></div>
<div class="schedule-date" id="schedule-next-week"></div>
<div class="schedule-date" id="schedule-after-next-week"></div>