<div class="alert-box post-it ten columns centered big">
  <h2>Add your Schedule</h2>
  <p>Keep the team up-to-date &amp; find out availability. We'll automatically <b>notify members</b> when details change and <b>find out who can play</b> - without you lifting a finger!</p>  
  <div class="arrow-1"></div>
</div>