.panel.invite-player{
	position: absolute;
	width: 100%;
	left: 102%;
	top: 0;
	@include arrow($side:"left", $align:"top", $color:#FCFCFC, $size:9px, $borderColor: rgba(212,212,212,0.66), $borderSize:1px);
	
	
	@include respond-to(handhelds) {
		left: 0; 
		top:45px;
		@include arrow($side:"top", $align:"right", $color:#FCFCFC, $size:9px, $borderColor: rgba(212,212,212,0.66), $borderSize:1px);
		&:after, &:before{
			left: auto;
		}
	}
	
	.panel-content{
		padding: 0;
		form{
			padding:$bluefields-margin/2;
			border-radius:0;
		}
		
		p{
			color: #666;
			margin-bottom: 6px;
		}

		.intl-tel-input {
			margin-bottom: 12px;
		}
	}
}
