<form class="hide popover">
	<input type="text" placeholder="Us" value="<%= score.home %>" class="score-for align-middle">
	<span class="align-middle">:</span>
	<input type="text" placeholder="Them" value="<%= score.away %>" class="score-against align-middle">
	<button type="submit" class="save align-middle"><i class="bf-icon check"></i></button>
	<a href="#" class="close-score no-underline">Cancel</a>
</form>
<a href="#" class="edit-score no-underline"><i class="bf-icon pen"></i></a>