<i class="bf-icon pen"></i>
<h2>Finished editing?</h2>
<p>Edit events or add new events to the schedule. Click 'Finished editing' when you are finished to send notifications to the team.</p>

<button type="button" class="schedule-add-event small centered"><i class="bf-icon plus"></i> Add an event</button>	
