<h2><%=title%></h2>
<div class="text-center empty-message">
	<i class="bf-icon badge"></i>
  <h3>No teams</h3>
  <p>There are no teams to show. Want to add a new one?</p>
  <button class="add-new-team" >Add New</button>
</div>