<div class="registration-view open">
	<h2>Registration Open</h2>
  <p class="eight columns">Teams can join this league. You'll need to accept them into the league.</p>
	<p class="four columns"><a id="close" href="#" class="button red">Close Registration</a></p>
</div>
<div class="registration-view closed">
	<h2>Registration Closed</h2>
  <p class="eight columns">Teams will not be able to join this league.</p>
	<p class="four columns"><a id="open" href="#" class="button green">Open Registration</a></p>
</div>