<% if (isPartOfTheTeam)  { %>
<button class="edit button tiny">Edit</button> <button class="reject button tiny alert">Remove</button>
<% } else { %>
<button class="approve button tiny">Accept</button> <button class="reject button tiny alert">Remove</button>
<%  } %>