<header class="header">
  <div class="header-content">
	   <div id="r-profile"></div>
  </div>
</header>

<div class="body" >
	<div role="main" class="new-main-content">
		<nav class="content-navi-container" ></nav>
		<div class="primary-content" ></div>
	</div>

	<aside role="complementary" class="sidebar-right"></aside>
</div>