<li class="two columns mobile-four">
	<a href="#"  name="schedule">
		<i class="bf-icon calendar hide-for-small hide-for-medium"></i>
		<span>
			Schedule
		</span>
	</a>
</li>
<li class="two columns mobile-four">
	<a href="#" name="results">
		<i class="bf-icon trophy hide-for-small hide-for-medium"></i>
		<span>
			Results
		</span>
	</a>
</li>

<% if(showMessageTab){ %>
<li class="two columns mobile-four">
	<a href="#" name="message">
		<i class="bf-icon chat hide-for-small hide-for-medium"></i>
		<span>
			Message
		</span>
	</a>
</li>
<% } %>

<% if(showTeamsTab){ %>
<li class="two columns mobile-four">
	<a href="#" name="teams">
		<i class="bf-icon trophy hide-for-small hide-for-medium"></i>
		<span>
			Teams
		</span>
	</a>
</li>
<% } %>

<% if(showMembersTab){ %>
<li class="two columns mobile-four">
	<a href="#" name="members">
		<i class="bf-icon users hide-for-small hide-for-medium"></i>
		<span>
			Members
		</span>
	</a>
</li>
<% } %>