<div class="b-section__title">
  <h1>Contact</h1>
</div>
<div class="b-section__content">
  <div class="row">
		<div class="three columns b-info" >
			<h3 class="b-info__title"><label for="name-input">Name</label></h3>
			<input class="b-info__input" type="text" id="name-input" placeholder="Joe Bloggs">
			<h3 class="b-info__title"><label for="email-input">Email</label></h3>
			<input class="b-info__input" type="email" id="email-input" placeholder="joe@bloggs.com">
		</div>
		<div class="six columns b-info">
			<h3 class="b-info__title"><label for="message-input">Message</label></h3>
			<textarea class="b-info__input b-info__input--message-area" id="message-input" placeholder="Type your message here"></textarea>
		</div>
		<div class="three columns b-info">
			<h3 class="b-info__title"><label for="role-input">Role</label></h3>
			<select class="b-info__input b-info__input--role-selection" id="role-input">
				<option disabled readonly selected>Select your role</option>
				<option>I'm a player</option>
				<option>I'm a parent</option>
				<option>I'm a admin</option>
			</select>
			<h3 class="b-info__title"><label for="role-input">Submit</label></h3>
			<button type="submit" class="small full-width">Contact</button>
		</div>
  </div>
</div>
