<div class="b-section__title">
  <h1>Location</h1>
</div>
<div class="b-section__content">
  <div class="row">
  	<div class="twelve columns b-info b-info--edit-location">
			<button type="button" class="js-addLeagueDetails" data-team-color="button" data-track-join="location">Add location information</button>
	  </div>
  </div>
</div>