<div class="b-section__title">
  <h1>Location</h1>
</div>
<div class="b-section__content">
  <div class="row">
    <%= render :partial => "partials/location", :locals => {:title => @league.location.title, :address => @league.location.address} %>
  </div>
</div>