<div class="b-section__title">
  <h1>Statistics</h1>
</div>
<div class="b-section__content">
  <div class="row">
    <div class="three columns b-info">
      <h3 class="b-info__title">Followers</h3>
      <p class="b-info__text">1256</p>
    </div>
    <div class="three columns b-info">
      <h3 class="b-info__title">Page views</h3>
      <p class="b-info__text">1376 views/day</p>
    </div>
    <div class="three columns b-info">
      <h3 class="b-info__title">Players</h3>
      <p class="b-info__text">6455</p>
    </div>
  </div>
</div>