<form class="text-center">
  <span>
  	Hi <%= name %>, you are still only a guest user. 
  	<strong>Set a password now to get full access.</strong> 
  </span>
  <button type="button" name="signup" class="small">Set Password Now</button>
</form>