<p>Hi <%=data[:contact_name].to_s.slice(/\w+/) %>,<br/>
  Do you remember registering for the Beta? We know it's been a while.</p>

<p>Well, we’ve been hard-at-work since you last saw us and there are loads of great time-saving features <a href="http://bluefields.com/signup?invite_code=<%=data[:invite_code]%>&amp;utm_source=email&amp;utm_medium=email&amp;utm_term=check+out&amp;utm_campaign=BL01A">you should check out</a>.</p>

<p>Quick recap: You can save time keeping players up-to-date &amp; finding out availability. Players are <b>automatically notified</b> of changes and can respond within the email - without you lifting a finger or them signing up!</p>

<p>It only takes a minute to <a href="http://bluefields.com/signup?invite_code=<%=data[:invite_code]%>&amp;utm_source=email&amp;utm_medium=email&amp;utm_term=get+going&amp;utm_campaign=BL01A">get going</a>, and we’d love to hear any questions or feedback you have.</p>

<p><a class="cta large" href="http://bluefields.com/signup?invite_code=<%=data[:invite_code]%>&amp;utm_source=email&amp;utm_medium=email&amp;utm_term=save+time+bluefields&amp;utm_campaign=BL01A">Save time with Bluefields</a></p>