<p>Hi <%=data[:contact_name].to_s.slice(/\w+/) %>,<br/>
  Do you remember registering for the Beta? We know it's been a while. To refresh your memory, we take the hassle out of organizing your sports team.</p>

<h3>Players kept up-to-date without the effort</h3>
<p>Simply update the schedule we’ll automatically notify players of any changes via email and SMS.</p>

<h3>Know who's coming</h3>
<p>Players’ availability updated in real time via email or text message, right within the schedule and events.</p>

<h3>Players &amp; parents organized</h3>
<p>We’ve made it easy for players or parents to get in on the game, no sign up required! Just add their email and phone number and you’re good to go.</p>

<p><a href="http://bluefields.com/signup?invite_code=<%=data[:invite_code]%>&amp;utm_source=email&amp;utm_medium=email&amp;utm_term=check+out&amp;utm_campaign=BL01B">Start using Bluefields</a> now - it only takes a minute to get going.</p>

<p><a class="cta large" href="http://bluefields.com/signup?invite_code=<%=data[:invite_code]%>&amp;utm_source=email&amp;utm_medium=email&amp;utm_term=start+using+bluefields&amp;utm_campaign=BL01B">Start using Bluefields</a></p>