<p>Hi <%=data[:contact_name].to_s.slice(/\w+/) %>,<br/>
  Thanks for using Bluefields! We’ve got a few new features ready for you to take advantage of!</p>

<h3>Junior Teams</h3>
<p>We’ve added some great features for Junior teams. Parents can now be associated with their children’s profiles and have their own login. Parent's will be able to see the child's schedule and receive notifications for their child.</p>

<h3>New Help &amp; Support Section</h3>
<p>Our help section has been revamped with more guides to help answer the most common questions that have been coming up. Keep em’ coming!</p>

<h3>Team Registration Link</h3>
<p>Now you can send out a link for players to register. This makes it really easy to get your players in Bluefields so they can see the schedule and start communicating. You can find this link on the team tab of your team page.</p>

<h3>Lots more coming...</h3>
<p>We're listening to all our users and have been busy improving every aspect of Bluefields. We've got some great new features in the pipeline, let us know if you’d like to get these a little earlier than everyone else and help with testing.</p>

<p>As always, please talk to/chat/email us your feedback. We love hearing your thoughts: good or bad. And once again, thanks for your support.</p>

<p><a class="cta large" href="http://bluefields.com/?utm_source=email&amp;utm_medium=email&amp;utm_campaign=SUA01A">Go to Bluefields</a></p>