<p>Hi <%=data[:contact_name].to_s.slice(/\w+/) %>,<br/>
  It's been over 30 days since you last logged into Bluefields. We’ve been hard-at-work since you last saw us and there are loads of new time-saving features.</p>

<h3>Players kept up-to-date without the effort</h3>
<p>Simply update the schedule we’ll automatically notify players of any changes via email and SMS.</p>

<h3>Know who's coming</h3>
<p>Players’ availability updated in real time via email or text message, right within the schedule and events.</p>

<h3>Players &amp; parents organized</h3>
<p>We’ve made it easy for players or parents to get in on the game, no sign up required! Just add their email and phone number and you’re good to go.</p>

<p><a href="http://bluefields.com/?utm_source=email&amp;utm_medium=email&amp;utm_term=check+out&amp;utm_campaign=SUN01B">Start using Bluefields</a> now - it only takes a minute to get going.</p>

<p><a class="cta large" href="http://bluefields.com/signup?utm_source=email&amp;utm_medium=email&amp;utm_term=start+using+bluefields&amp;utm_campaign=SUN01B">Save time with Bluefields</a></p>