<div id="sf-confirmation" class="columns twelve sf-page">
	
	<h1>Your team's space is being created...</h1>
	<div class="create-team-spinner"></div>
	<div class="sf-content">
	  <p><i class="bf-icon check"></i></p>
	</div>
</div>
