<div id="sf-team" class="columns eight sf-page">
	<ul class="steps clearfix">
		<li class="current">Your Team</li>
		<li>Your Details</li>
		<li>Done</li>
	</ul>
	
	<h1>Tell us about your Team</h1>
	<p>You'll be set up on Mitoo in 3 steps (we don't like long forms either)</p>

	<div id="r-new-team"></div>
	<div id="r-new-organiser"></div>
</div><!-- /#sf-team -->

<div class="columns four bf-context">
	<blockquote class="clearfix">
		<p>Using Mitoo makes running your team super easy. It's free for teams and takes just seconds to get started. You are already on the road to team happiness....</p>
		<img class="pepe-profile-pic" src="/assets/to_be_sorted/andy-profile-pic.jpg">
		<span>Andy - Founder of Mitoo</span>
	</blockquote>
	
	<h2>Why Mitoo?</h2>
	<ul>
		<li>One place for your games &amp; events</li>
		<li>Automatic reminders for players and parents</li>
		<li>Any event updates sent automatically</li>
	</ul>
</div>