<header class="header">
  <div id="r-map"></div>
  <div id="r-gamecard"></div>
</header>

<div class="row event-body">
  <aside class="three columns no-gutter new-left-sidebar">
    <div id="game-status-container"></div>
    <div id="response-container"></div>
    <div id="result-container"></div>
    <div id="teamsheet-container"></div>
    <div id="club-panel"></div>
  </aside>

  <div class="six columns new-main-content">
    <div class="r-organiser-message"></div>
    <div id="r-post-message"></div>
    <div class="r-feed"></div>
  </div>

  <aside class="three columns no-gutter new-right-sidebar">
    <div id="action-container"></div>
    <div id="informations-container"></div>
    <div id="sidebar-map-container"></div>
    <div id="reminders-container"></div>
    <div id="danger-container"></div>
  </aside>
</div>

<div id="event-tour"></div>