<div class="join-event-copy">
  <div class="columns four text-center join-event-bullet-point" >
    <h3>Get Fit</h3>
    <p>One sport fits all with O2 Touch. This simple, energetic game is suitable for all fitness levels, from the beginner to the seasoned player.</p>
  </div>
  <div class="columns four text-center join-event-bullet-point" >
    <h3>Have Fun</h3>
    <p>Everyone gets a warm welcome at O2 Touch sessions. Sociable and inclusive and the perfect opportunity to run out with old friends, or make new ones.</p>
  </div>
  <div class="columns four text-center join-event-bullet-point" >
    <h3>Get Started</h3>
    <p>Our O2 TouchBase and TouchLeague events allow you to play at a time and in a structure that suits you. <a href="http://www.englandrugbyfiles.com/o2touch/#touch-section">Find your level now</a>.</p>
  </div>
</div>
<button type="button" name="join" class="large centered">Join</button>