<div class="switch-ui animate" data-test="test" data-teste="test2">
  <input type="checkbox" name="switch-ui" id="<%= id %>" class="switch-ui-checkbox"  <%= (checked) ? "checked" : "" %> <%= (disabled) ? "disabled" : "" %>>
  <label class="switch-ui-label" for="<%= id %>">
    <div class="switch-ui-inner"></div>
    <div class="switch-ui-switch"></div>
  </label>
</div>