<div class="complete">
  <div class="check"><i class="bf-icon check"></i></div>
  <h2>Excellent! You're all set-up</h2>
  <p>You've completed all of the goals needed to get started on <%= tenant %></p>
</div>