<h3><i class="panel-icon bf-icon list"></i> Get Started with <%= tenantName %></h3>
<progress class="goal-progress" min="0" max="100" value="<%= percent %>"></progress>
<div id="gp-percent"><%= percent %>%</div>