<div class='show-all-container clearfix hide'>
  <div class='comment-toggle'>
    <a href='#' class='btn-show-all-comments no-underline'>
      <i class='bf-icon chat'></i>
      <span class='underline-hover show-all-text'></span>
    </a>
  </div>
</div>

<ul class="comment-list"></ul>