<h2>This game has been postponed</h2>

<%= render :partial => "user_mailer/event_details", :locals => {:event => @event, :time_zone_mismatch => false} %>

<a class="button small"href="<%= event_url(@event) %>">View <%= @event.game_type_string %> Details</a>

<%
email_title = "Event+Postponed"
extra_params = @recipient.email + "&EventId=" + @event.id.to_s
%>
<%==get_img_html(email_title, extra_params) %>