<img onerror="this.src='/assets/profile_pic/team/generic_team_small.png';" class="circle team-pic thumb-pic" src="<%= logo %>">

<div class="club-information-content align-top">
	<h3 class="name"><%= name %></h3>
	<p class="address"><%= addressTitle %></p>
</div>