
<label for="edit-location">Location</label>
<input type="text" id="edit-location" value="<%= location %>"/>

<div class="location-map-container"></div>

<div class="inline-input text-right">
  <a href="#" class="close-panel cancel-link">Cancel changes</a>
  <button type="button" name="save" class="small save-event right" data-disabled="Saving">Save</button>
</div>
<i class="bf-icon x close-panel"></i>