<p><%= tenant %> sends an invitation to the player and will keep track of their response</p>
<label for="invite-name">Name</label>
<input id="invite-name" class="new-user-name" type="text" placeholder="Joe Bloggs">
<label for="invite-email">Email</label>
<input id="invite-email" class="new-user-email" type="text" placeholder="joe@example.com">
<label for="new-user-mobile-number">Mobile</label>
<input type="tel" id="new-user-mobile-number" class="phone-input">
<button type="submit" class="small full-width" title="send invite" data-disabled="Sending" data-team-color="button">Send invite</button>
<i class="bf-icon x close-panel"></i>