<a href="#" class="btn-email button small grey bold">Email</a>&nbsp;&nbsp;
<a href="#" class="btn-facebook button facebook small bold ">Facebook</a>&nbsp;&nbsp;
<a href="#" class="btn-twitter small twitter button bold">Twitter</a>