<div class="login-form">
	<% if(title){ %><h3><%= title %></h3><% } %>
	<!-- <a href="/users/auth/facebook" class="button facebook full-width"><i class="bf-icon facebook"></i> Login with Facebook</a> -->
	
	<span class="or-choice-line">or</span>
	
	<form>
		<label for="login-email">Email</label>
		<input id="login-email" name="login-email" type="text" placeholder="joe@example.com">
		<div class="password-container">
			<label for="login-password" class="password-label">Password</label>
			<input id="login-password" name="login-password" type="password" class="login-password">
			<a href="/d/users/password/new" class="password-recovery">Forgot your password?</a>
		</div>
		<div class="actions clearfix">
			<button type="submit" title="login" data-disabled="Logging in">Log in</button>
			<% if (showSignup) { %>
			<a href="#" name="signup" title="signup">Sign up</a>
			<% } %>
		</div>	
	</form>
</div>