<img src="<%= asset_path 'faft/team/app_screenshot.jpg' %>" alt="Download the mobile app">
<div class="download-content">
  <h4>Want this information on your phone for free?</h4>
  <p>Updates on:</p>
  <ul class="clearfix">
    <div class="twelve columns no-gutter">
      <li class="six columns"><i class="bf-icon calendar"></i>Upcoming fixtures</li>
      <li class="six columns"><i class="bf-icon trophy"></i>Latest Results</li>
    </div>
    <div class="twelve columns no-gutter">
      <li class="six columns"><i class="bf-icon eye"></i>Game cancellations or postponments</li>
      <li class="six columns"><i class="bf-icon list"></i>League position</li>
    </div>
  </ul>
  <button class="follow-form full-width" type="button" data-button-type="marketing-sidebar">Follow<br/><small>for this team’s updates on your mobile</small></button>
</div>