<p class="text-center hide-after-click">Want Mitoo for your club? <a class="show-create-club-form-link" href="#">Request here</a></p>
<div class="club-create-hidden hide">
  <p>Submit this form and we'll get to it!</p>
  <form class="club-form">
    <div class="message-confirmation alert-box success hide">
      Thanks, we'll be in touch soon!
    </div>    
    <input name="club" type="text" placeholder="Club">
    <input name="user-name" type="text" placeholder="Name">
    <input name="user-email" type="text" placeholder="Email">
    <input name="club-position" type="text" placeholder="Role (eg. Match Secretary)">
    <div class="inline-input text-center">
      <input type="checkbox" name="email-me" id="email-me" checked><label for="email-me">Yes, Mitoo can email me</label>
    </div>
    <button type="submit" class="full-width">Submit</button>
  </form>
  <small>By clicking submit, you confirm that you have read our <a href="/terms">Terms & Privacy policy</a>. (Don't worry, we won't ever share your data)</small>
</div>