<div class="nav-group goal-widget">
  <small>Get the most out of Mitoo</small>
  <h3>What to do next:</h3>
  <progress class="goal-progress-bar" min="20" max="100" value="0"></progress>
  <div class="goal-percent-text"></div>
  <ul class="goals"></ul>
</div>