/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, option, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
}

.circle {
  border-radius: 100%;
}

body {
  background-color: #eee;
  padding: 0px;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas,
.map_canvas {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

// Miscellaneous useful HTML classes
.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.tips {
  @include font-size(0.7);
  color: #888;
  margin: $bluefields-margin / 4 $bluefields-margin / 2;
}

.popover {
  @include box-shadow;
  z-index: 4000;
}

.align-top {
  display: inline-block;
  vertical-align: top;
}

.align-bottom {
  display: inline-block;
  vertical-align: bottom;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.noscroll {
  overflow: hidden;
}

@include respond-to(handhelds) {
  body {
    overflow-x: hidden;
  }
}


/* Align helper */
.align-top, .align-bottom, .align-middle {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.aling-bottom {
  vertical-align: bottom;
}

.align-middle {
  vertical-align: middle;
}