<p class="comment-type">
	<a href="<%= user.getHref() %>"><%= user.get("name") %></a>
	cancelled the event
  <% if (!isEventPage) { %>
    <a href="<%= event.getHref() %>"><%- event.get("title") %></a>
  <% } %>
</p>
