<p class="comment-type">
	<a href="<%= user.getHref() %>"><%= user.get("name") %></a>
	was invited
  <% if (!isEventPage) { %>
    to <a href="<%= event.getHref() %>"><%- event.get("title") %></a>
  <% } %>
</p>
