<div class="row">
	<br />
	<br />
	<br />

	<div class="test-2">
		<style>.dropdown {visibility: hidden}</style>
		<div class="dropdown">
			<a href="#">Nav Element <i class="iconic arrow_down_alt1"></i></a>
			<ul>
				<li><a href="">This is a link in a UL.</a></li>
				<li><a href="">This is a link in a UL.</a></li>
				<li><a href="">This is a link in a UL.</a></li>
			</ul>
		</div>
			
		<a href="#" class="button radius icon white medium"><i class="iconic check" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic x" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic magnifying_glass" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic image" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic cloud_upload" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic user" ></i></a>
		&nbsp;&nbsp;
		<a href="#" class="button radius icon white medium"><i class="iconic link" ></i></a>
		<br />
		<br />
		
		<a href="#" class="button radius white tiny">Cancel</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white small">Send Invitation</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white medium">View Details</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white large">Send Invitation</a>
		<br />
		<br />
		
		<a href="#" class="button radius teamcolour tiny">Edit</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius cap teamcolour small">Send Reminder</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius teamcolour medium"><i class="iconic share" ></i>Share</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius teamcolour large">Send Invitation</a>
		<br />
		<br />
		
		<a href="#" class="button radius teamcolour2 tiny">Edit</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius teamcolour2 small">Send Reminder</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius teamcolour2 medium"><i class="iconic share" ></i>Share</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius teamcolour2 large">Send Invitation</a>
		<br />
		<br />
		
		<a href="#" data-team-color="button" class="button radius tiny">Change</a>
		&nbsp;&nbsp;
		<a href="#" data-team-color="button" class="button radius small">Tell Your Players</a>
		&nbsp;&nbsp;
		<a href="#" data-team-color="button" class="button radius medium">Notify Players</a>
		&nbsp;&nbsp;
		<a href="#" data-team-color="button" class="button radius large"><i class="iconic plus_alt" ></i>Add Game</a>
		<br />
		
		<div style="backgradius: #fff; padding: 30px;">
			
		<a href="#" class="button radius white tiny">Cancel</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white small">Send Invitation</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white medium">View Details</a>
		&nbsp;&nbsp;
		<a href="#" class="button radius white large">Send Invitation</a>
		</div>
		
	</div>
</div>
