<div id="r-results-controls"></div>
<div id="r-results-notice"></div>

<div id="r-results-reminder"></div>
<div id="r-results-calendar"></div>

<div id="r-results-event-list"></div>
<div id="r-results-empty"></div>
<div id="r-results-popover"></div>