<h2><%= teamName %> settings</h2>

<div id="r-notifications-content"></div>

<p>You can change your other team notifications via the 'Your Team' menu above, or edit all of your team roles from the user menu in the top right.</p>

<div class="inline-input text-right">
  <button type="button" name="done" class="small">Done</button>
</div>