<% if Rails.env.production? && !current_or_guest_user.nil? && !current_or_guest_user.role?("Guest") %>
<!-- Google Code for Landed on SIgn Up Page - Signed Up Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 965752606;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "57L9CMKf6gMQnu7AzAM";
var google_conversion_value = 0;
/* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/965752606/?value=0&amp;label=57L9CMKf6gMQnu7AzAM&amp;guid=ON&amp;script=0"/></div></noscript>
<% end %>